option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SECRET_KEY": "qg0y+a@)c3%)(i*z#e6)7n30r%k^^m@hqssc$&iomf2$q0&l(y"
    "DATABASE_NAME": "test"
    "DATABASE_USER": "admin"
    "DATABASE_PASSWORD": "shkimadmin"
    "AWS_ACCESS_KEY_ID": "AKIAS35476AVTBRPPMQB"
    "AWS_SECRET_ACCESS_KEY": "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"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/wsgi.py

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"

